.chartbox{
    display: flex;
    height: 100%;
    
    


    .boxinfo{
        display: flex;
        flex: 3;
        flex-direction: column;
        justify-content: space-between;
        .title{
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }



    .chartinfo{
        display: flex;
        flex: 2;
        flex-direction: column;
        
        

        .chart{
            height: 100%;
            width: 100%;
        }

        .text{
            display: flex;
            flex-direction: column;
            text-align: right;


            .percentage{
                font-weight: bold;
                font-size: 20px;
            }

            .duration{
                font-size: 14px;
            }
        }
    }
}